:host {
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  display: inline-block; 
  vertical-align: text-bottom; }

:host * {
  box-sizing: border-box; } 

:host(.is-hidden) {
  display: none; }
  
  input {
    padding: 0 .85rem;
    height: 3rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #dfdfdf;
    width: 100%;
    color: #444;
    display: block;
    border-radius: 3px;
    transition: all 0.2s ease-in-out; }

  input:focus {
    border-color: #298eea; }

  :host(.is-active) input {
    padding: 1.3rem 0.85rem 0.45rem 0.85rem; }

  :host(.is-invalid) input {
    border-color: rgb(200, 80, 80);
    background: rgb(255,240,240); }

  label {
    position: absolute;
    top: 6px;
    padding: 0 5px;
    left: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #bbbbbb;
    display: block;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
  
  :host(.is-focused) label {
    color: #298eea; }

  :host(.is-active) label {
    opacity: 1 }

  :host(.is-optional)::after {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 0.7em;
    color: #ccc;
    content: 'optional'; }